@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&subset=cyrillic');

a:focus {
    outline: none;
}

.page {
    width: 100%;
}

.l-main {
    max-width: 95rem;
}

.l-header-region {
    max-width: 100%;
}

/* Custom blocks. */
.block-custom {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
    width: 50%;
}

/* Timer. */
.logged-in .block-custom-timer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.block-custom-timer button {
    border-radius: 10px;
    margin-bottom: -20px;
}

#custom-timer-form {
    text-align: center;
}

.active-timer {
    text-align: right;
}

/* Catch block. */
#catch-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

#catch-wrapper input {
    display: none;
}

#catch-wrapper > div {
    display: flex;
    justify-content: flex-end;
}

#catch-wrapper img {
    width: 100px;
    float: right;
    display: block;
}

#catch-wrapper .catch-cancel {
    border-radius: 10px;
    height: max-content;
    margin: 0 30px 15px 0;
}

/* Food reward. */
#food-reward-wrapper {
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(100% - 150px);
    width: 300px;
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#food-reward-wrapper img {
    width: 0;
    height: 0;
}

#page-title {
    text-align: center;
    margin: 20px 0 50px 0;
}

/* Collection page. */
.dinosaurs-table {
    margin-bottom: 30px;
}

#edit-dinosaurs {
    display: flex;
    flex-wrap: wrap;
}

.form-item-dinosaurs {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 33%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    margin: 7px;
}

.no-rank {
    box-shadow: 1px 1px 50px 3px #eee inset;
}

.rank-1 {
    box-shadow: 1px 1px 50px 3px lightgreen inset;
}

.rank-2 {
    box-shadow: 1px 1px 50px 3px dodgerblue inset;
}

.rank-3 {
    box-shadow: 1px 1px 50px 3px blueviolet inset;
}

.rank-4 {
    box-shadow: 1px 1px 50px 3px red inset;
}

.form-item-dinosaurs:hover {
    background-color: rgba(30, 144, 255, .1);
}

.form-item-dinosaurs input {
    display: none;
}

.form-item-dinosaurs label {
    display: contents !important;
}

.form-item-dinosaurs img {
    width: 75%;
    height: 75%;
    transform: rotate(-45deg);
}

.dinosaurs-table .no-rank {
    animation-name: spin;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    0%, 90% {
        transform: scale(1, 1) rotate(45deg)
    }
    100% {
        transform: scale(-1, 1) rotate(45deg)
    }
}

/* Dinosaur info. */
.dinosaurs-info-block img {
    border: 1px solid #333;
    border-radius: 20%;
    padding: 30px;
}

.dinosaurs-info-block .no-rank {
    box-shadow: 1px 1px 100px 10px #eee inset;
}

.dinosaurs-info-block .rank-1 {
    box-shadow: 1px 1px 100px 10px lightgreen inset;
}

.dinosaurs-info-block .rank-2 {
    box-shadow: 1px 1px 100px 10px dodgerblue inset;
}

.dinosaurs-info-block .rank-3 {
    box-shadow: 1px 1px 100px 10px blueviolet inset;
}

.dinosaurs-info-block .rank-4 {
    box-shadow: 1px 1px 100px 10px red inset;
}

.dinosaur-bars {
    margin-bottom: 20px;
}

.dinosaur-life-wrapper, .dinosaur-mood-wrapper {
    background-color: #eee;
    height: 15px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .5);
    margin-bottom: -1px;
}

.life, .mood {
    height: 13px;
}

.life {
    background: linear-gradient(to right, #770000, orangered 30%);
}

.mood {
    background: linear-gradient(to right, greenyellow, yellow 30%);
}

/* Food page. */
.user-food-block .fieldset-wrapper > div {
    display: flex;
    flex-wrap: wrap;
}

.user-food-block fieldset {
    border: 1px dashed rgba(0, 0, 0, 0.1);
}

.user-food-block fieldset:not(.collapsed) {
    border-radius: 30px;
}

.user-food-block input {
    display: none;
}

.user-food-block img {
    width: 100px;
}

.user-food-block img:hover {
    transform: scale(1.02);
}

.user-food-block img.checked {
    box-shadow: 1px 1px 10px 1px pink inset;
    border-radius: 20%;
}

.user-food-block img.muted {
    opacity: .5;
}

.cook-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cook-wrapper {
    box-shadow: 1px 1px 40px 5px orangered inset;
    border-radius: 100%;
    padding: 20px;
    opacity: 0.3;
}

.cook-wrapper.active {
    opacity: 1;
    cursor: pointer;
}

.cook-wrapper.active:hover {
    transform: scale(1.01);
}

.cook-block .cook-bait-button {
    display: none;
}

.cook-block img {
    width: 100px;
}

/* Set bait button. */
.set-bait {
    display: none;
    position: absolute;
    opacity: 0;
    border-radius: 10px;
}

/* Login block. */
.block-user-login {
    width: 50%;
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

/* Modal popups. */
div.ctools-modal-dino-popup {
    border: none !important;
    border-radius: 30px !important;
    overflow: hidden;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, .3);
}

#modalBackdrop .popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}

#modalContent .modal-header {
    height: 54px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 20px;
    background-color: orange;
    box-shadow: -20px -5px 30px 0 rgba(0, 0, 0, .2) inset;
    text-align: center;
    font-size: 1.5em;
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
}

#modalContent #modal-title {
    flex-grow: 1;
    font-variant: petite-caps;
    font-weight: 400;
}

#modalContent .close {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

/* User register in popup. */
.confirm-parent, .password-parent {
    width: 100%;
}

.password-strength, div.password-confirm, .password-suggestions {
    display: none !important;
}

@media (max-width: 640px) {
    .block-user-login {
        width: 100%;
    }

    .form-item-dinosaurs {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 500px) {
    #modalContent {
        top: -3px !important;
        left: -3px !important;
    }

    div.ctools-modal-content {
        width: calc(100% - 2px) !important;
    }

    #modal-content {
        width: 100% !important;
    }
}

/* Account page. */
input.form-text {
    border-radius: 10px;
    border: 1px solid rgba(200, 200, 100, .8);
}

#edit-locale {
    display: none;
}
