a:focus {
    outline: none;
}

.l-main {
    max-width: 95rem;
}

.l-header-region {
    max-width: 100%;
}

/* Timer. */
#custom-timer-form {
    text-align: center;
}

.active-timer {
    text-align: right;
}

/* Catch block. */
#catch-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

#catch-wrapper input {
    display: none;
}

#catch-wrapper > div {
    display: flex;
    justify-content: flex-end;
}

#catch-wrapper img {
    width: 100px;
    float: right;
    display: block;
}

#catch-wrapper .catch-cancel {
    border-radius: 10px;
    height: max-content;
    margin: 0 30px 15px 0;
}

/* Food reward. */
#food-reward-wrapper {
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#food-reward-wrapper img {
    width: 0;
    height: 0;
}

#page-title {
    text-align: center;
    margin-bottom: 30px;
}

/* Collection page. */
#edit-dinosaurs {
    display: flex;
    flex-wrap: wrap;
}

.form-item-dinosaurs {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 33%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    margin: 7px;
}

.form-item-dinosaurs:hover {
    background-color: rgba(30, 144, 255, .1);
}

.form-item-dinosaurs input {
    display: none;
}

.form-item-dinosaurs label {
    display: contents !important;
}

.form-item-dinosaurs img {
    width: 75%;
    height: 75%;
    transform: rotate(-45deg);
}

/* Food page. */
.user-food-block .fieldset-wrapper > div {
    display: flex;
    flex-wrap: wrap;
}

.user-food-block fieldset {
    border: 1px dashed rgba(0, 0, 0, 0.1);
}

.user-food-block fieldset:not(.collapsed) {
    border-radius: 30px;
}

.user-food-block input {
    display: none;
}

.user-food-block img {
    width: 100px;
}

.user-food-block img:hover {
    transform: scale(1.02);
}

.user-food-block img.checked {
    box-shadow: 1px 1px 10px 1px pink inset;
    border-radius: 20%;
}

.user-food-block img.muted {
    opacity: .5;
}

.cook-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cook-wrapper {
    box-shadow: 1px 1px 40px 5px orangered inset;
    border-radius: 100%;
    padding: 20px;
    opacity: 0.3;
}

.cook-wrapper.active {
    opacity: 1;
    cursor: pointer;
}

.cook-wrapper.active:hover {
    transform: scale(1.01);
}

.cook-block .cook-bait-button {
    display: none;
}

.cook-block img {
    width: 100px;
}

/* Set bait button. */
.set-bait {
    display: none;
    position: absolute;
    opacity: 0;
    border-radius: 10px;
}
