.row {
  max-width: 70rem;
}

.pointer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.text-center {
  vertical-align: middle;
  align-self: center;
}

.text-bottom {
  vertical-align: bottom;
  align-self: flex-end;
}
